.main {
    background-color:aqua;
}
.border-div {
    border-style:solid !important;
}
.main.border-div {
    background-color:blueviolet;
    border-style:dotted;

}
.main p {
    font-size: 35px;
}
